.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #ff7b00;
  }
  